/* Common Styles File for all HTML files: index, about, shop, and cart */

/* font import from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");

/* Root style variables for the complete document for reduction in code repetition */

:root {
  --rubyRed: #9b2226;
  --rufous: #ae2012;
  --rust: #bb3e03;
  --alloyOrange: #ca6702;
  --gamboge: #ee9b00;
  --mediumChampagne: #e9d8a6;
  --middleBlueGreen: #94d2bd;
  --viridianGreen: #0a9396;
  --blueSapphire: #005f73;
  --richBlack: #001219;
  --antiquewhite: #fff1c9;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 18, 25, 0.1);
  --border: var(--rufous) 0.15rem solid;
  --border-small: var(--rufous) 0.05rem solid;
  --outline: 0.1rem solid rgba(0, 18, 25, 0.1);
  --outline-hover: 0.2rem solid var(--richBlack);
}

/* Standard root styles for the full body of html documents to reset box sizing and fonts */

* {
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

/* remove scroll in x-direction, set scroll behavior and set scroll padding to avoid clash of header bar and content */

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

/* set background color of body */

body {
  background: var(--mediumChampagne);
}

/* button style */

.primaryBtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--antiquewhite);
  cursor: pointer;
  background-color: var(--rufous);
  font-weight: 700;
  box-shadow: 0rem 0.5rem var(--gamboge);
}

.primaryBtn:hover {
  color: var(--rufous);
  background: var(--gamboge);
  box-shadow: 0rem 0.5rem var(--rufous);
}

.primaryBtn:active {
  color: var(--rufous);
  background-color: var(--gamboge);
  transform: translateY(0.5rem);
  box-shadow: none;
}

.secondaryBtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: var(--border);
  color: var(--antiquewhite);
  cursor: pointer;
  background-color: var(--rufous);
  font-weight: 700;
  box-shadow: 0rem 0.5rem var(--richBlack);
}

.secondaryBtn:hover {
  background-color: var(--gamboge);
  color: var(--rufous);
  box-shadow: 0rem 0.5rem var(--richBlack);
}
.secondaryBtn:active {
  background-color: var(--gamboge);
  color: var(--rufous);
  transform: translateY(0.5rem);
  box-shadow: none;
}

.tertiaryBtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: var(--border);
  color: var(--rufous);
  cursor: pointer;
  background-color: var(--gamboge);
  font-weight: 700;
  box-shadow: 0rem 0.5rem var(--richBlack);
}

.tertiaryBtn:hover {
  background-color: var(--rufous);
  color: var(--antiquewhite);
  box-shadow: 0rem 0.5rem var(--richBlack);
}

.tertiaryBtn:active {
  background-color: var(--rufous);
  color: var(--antiquewhite);
  transform: translateY(0.5rem);
  box-shadow: none;
}

/* header navigation styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background-color: var(--gamboge);
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--rubyRed);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo img {
  margin-right: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.header .navbar a {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 1rem;
  color: var(--rubyRed);
  text-decoration: underline;
}

.header .navbar a:hover {
  color: var(--middleBlueGreen);
  background-color: var(--blueSapphire);
  text-decoration: underline;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.header .navbar a:active {
  color: var(--antiquewhite);
}

.header .icons button {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;

  background: var(--middleBlueGreen);
  color: var(--blueSapphire);
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0rem 0.5rem var(--viridianGreen);
}

.header .icons button:hover {
  background: var(--viridianGreen);
  color: var(--middleBlueGreen);
  outline: none;
  box-shadow: 0rem 0.5rem var(--blueSapphire);
}

.header .icons button:active {
  box-shadow: none;
  transform: translateY(0.5rem);
}

.header .icons button:last-child {
  border: none;
  color: var(--antiquewhite);
  cursor: pointer;
  background-color: var(--rufous);
  outline: none;
  box-shadow: 0rem 0.5rem var(--richBlack);
}
.header .icons button:last-child:hover {
  color: var(--antiquewhite);
  background-color: var(--rust);
  box-shadow: 0rem 0.5rem var(--richBlack);
}

.header .icons button:last-child:active {
  color: var(--antiquewhite);
  background-color: var(--rust);
  transform: translateY(0.5rem);
  box-shadow: none;
}

/* header navigation styles ends */

/* remove display of menu button for desktop screen */
#menu-btn {
  display: none;
}

/* search form in header style starts */

.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%; /* change this to -110% to remove from screen */
  width: 30rem;
  height: 5rem;
  background-color: var(--antiquewhite);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border: var(--rufous) 0.15rem solid;
}

.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 2rem;
  color: var(--richBlack);
  padding: 0 1.5rem;
}

.header .search-form label {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: var(--rufous);
  cursor: pointer;
}

.header .search-form label:hover {
  color: var(--blueSapphire);
}

/* search form in header style ends */

/* shopping cart box in header style starts */
.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%; /* change this to -110% to remove from screen */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 30rem;
  background: var(--antiquewhite);
  border: var(--rufous) 0.15rem solid;
}

.header .shopping-cart.active {
  right: 2rem;
  transition: 0.3s linear;
}

.header .shopping-cart .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background-color: var(--antiquewhite);
  border: var(--border-small);
}

.header .shopping-cart .box img {
  height: 6rem;
  border-radius: 0.5rem;
}

.header .shopping-cart .box .card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
}

.header .shopping-cart .box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header .shopping-cart .box .content h3 {
  color: var(--richBlack);
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.header .shopping-cart .box .content p {
  color: var(--richBlack);
  font-size: 1.2rem;
  font-weight: 300;
}

.header .shopping-cart .box .content .quantity {
  margin-top: 0.1rem;
}

.header .shopping-cart .box .content #priceValue {
  font-weight: 500;
}

.header .shopping-cart .box .content #itemQuantity {
  font-weight: 500;
}
.header .shopping-cart .box .counterIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.counterIcons input {
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.4rem grey;
  border: var(--border);
  background: var(--antiquewhite);
}

.counterIcons .fa-minus-circle {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--rufous);
}

.counterIcons .fa-minus-circle:hover {
  color: var(--rust);
  transform: scale(120%);
}
.counterIcons .fa-minus-circle:active {
  color: var(--gamboge);
  transform: scale(80%);
}

.counterIcons .fa-plus-circle {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--rufous);
}

.counterIcons .fa-plus-circle:hover {
  color: var(--rust);
  transform: scale(120%);
}

.counterIcons .fa-plus-circle:active {
  color: var(--gamboge);
  transform: scale(80%);
}

.header .shopping-cart .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--rufous);
  font-weight: 300;
}

.header .shopping-cart .total #totalValue {
  font-weight: 700;
}

.header .shopping-cart .primaryBtn {
  display: block;
  text-align: center;
  margin: 2rem auto;
}
/* shopping cart box in header style ends */

/* user login form box style starts */

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%; /* change this to -110% to remove from screen*/
  width: 30rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--antiquewhite);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .login-form h3 {
  font-size: 2.5rem;
  color: var(--rufous);
  align-self: center;
}

.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background-color: var(--antiquewhite);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  border: var(--border-small);
  box-shadow: var(--box-shadow);
}

.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--richBlack);
  text-align: left;
}

.header .login-form p a {
  color: var(--rufous);
  text-decoration: underline;
  font-weight: 500;
}

.header .login-form p a:hover {
  color: var(--blueSapphire);
}

.header .login-form p a:active {
  color: var(--richBlack);
}

.header .login-form #loginBtn {
  align-self: center;
}

/* user login form box style ends */

/* header section styles end  */

/* ----------------------------------------------------- */

/* main section styles start  */

/* hero section styles start  */
.hero {
  background: url(/img/hero2.jpg) no-repeat;
  background-position: top;
  background-size: 100%;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
}

.hero .heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.hero h4 {
  color: var(--richBlack);
  font-size: 1.5rem;
  font-weight: 500;
}

.hero h1 {
  font-size: 4rem;
  color: var(--richBlack);
  font-weight: 700;
}

.hero p {
  color: var(--richBlack);
  font-size: 1.3rem;
  font-weight: 300;
}

.hero .heroBtns .secondaryBtn {
  margin-right: 1rem;
}

/* hero section styles end  */

/* banner 1 style starts  */
.home .banner1 {
  background-color: var(--rubyRed);
  height: 100vh;
  background-image: url(/img/christmasOffer1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 70%;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 4rem;
  gap: 1rem;
}

.home .banner1 h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--antiquewhite);
}

.home .banner1 h2 span {
  font-size: 6rem;
  text-decoration: underline;
  color: var(--antiquewhite);
}
.home .banner1 h3 {
  font-size: 2.5rem;
  color: var(--antiquewhite);
  font-weight: 500;
}

.home .banner1 h4 {
  font-size: 1.5rem;
  color: var(--antiquewhite);
  font-weight: 300;
  text-align: right;
  width: 40%;
}

/* banner 1 style ends  */

/* banner 2 style starts  */
.home .banner2 {
  background-color: var(--blueSapphire);
  height: 100vh;
  background-image: url(/img/banner2background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 55%;
  background-attachment: fixed;
  background-position-y: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4rem;
  gap: 1rem;
}

.home .banner2 h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--antiquewhite);
  width: 30vw;
}

.home .banner2 h2 span {
  font-size: 6rem;
  text-decoration: underline;
  color: var(--antiquewhite);
}
.home .banner2 h3 {
  font-size: 2.5rem;
  color: var(--antiquewhite);
  font-weight: 500;
}

.home .banner2 h4 {
  font-size: 1.5rem;
  color: var(--antiquewhite);
  font-weight: 300;
  text-align: left;
  width: 40%;
}

/* banner 2 style ends  */

/* banner 3 style starts  */
.home .banner3 {
  height: 30vh;
  background-color: var(--viridianGreen);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .banner3 h2 {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--richBlack);
}
/* banner 3 style ends  */

/* banner 4 style starts */
.home .banner4 {
  height: 100vh;
  background-color: var(--middleBlueGreen);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .banner4 .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
}

.home .banner4 .card-wrapper .card {
  background-color: var(--antiquewhite);
  height: 70vh;
  width: 60vh;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.home .banner4 .card-wrapper .card:hover {
  border: var(--border);
  box-shadow: 0rem 1rem var(--rufous);
  cursor: pointer;
  background-color: var(--antiquewhite);
}

.home .banner4 .card-wrapper .card:active {
  transform: translateY(1rem);
  box-shadow: none;
  background-color: var(--antiquewhite);
}

.home .banner4 .card-wrapper .card img {
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 0.5rem;
}

.home .banner4 .card-wrapper .card h4 {
  color: var(--rufous);
  font-size: 0.8rem;
  font-weight: 500;
}

.home .banner4 .card-wrapper .card h2 {
  font-size: 2rem;
  font-weight: 700;
}
.home .banner4 .card-wrapper .card h3 {
  font-size: 1rem;
  font-weight: 500;
}

.home .banner4 .card-wrapper .card p {
  font-size: 1rem;
  font-weight: 300;
}

.home .banner4 .card-wrapper .card a {
  font-weight: 500;
  text-decoration: underline;
  color: var(--rubyRed);
}

.home .banner4 .card-wrapper .card a:hover {
  font-weight: 700;
  transform: scale(105%);
  text-decoration: none;
  color: var(--blueSapphire);
}

/* banner 4 style ends */

/* masterclass banner 1 starts */
.home .masterclass1 {
  height: 100vh;
  background-color: var(--rubyRed);
  background-image: url(/img/masterclass1.jpg);
  background-repeat: no-repeat;
  background-size: 55%;
  background-attachment: fixed;
  background-position: left top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 4rem;
  padding-right: 6rem;
  gap: 1.2rem;
}

.home .masterclass1 h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--antiquewhite);
  width: 36vw;
}

.home .masterclass1 h3 {
  font-size: 1.5rem;
  color: var(--antiquewhite);
  width: 36vw;
  font-weight: 300;
}

.home .masterclass1 h4 {
  font-size: 1.8rem;
  color: var(--antiquewhite);
  width: 36vw;
  font-weight: 500;
}

.home .masterclass1 h4 span {
  background-color: var(--rufous);
  padding: 1rem;
  position: relative;
  top: 1rem;
}

.home .masterclass1 p {
  color: var(--antiquewhite);
  font-weight: 500;
  font-size: 1.3rem;
}

/* masterclass banner 1 ends */

/* banner 5 style starts */
.home .banner5 {
  background-color: var(--rust);
  height: 100vh;
  background-image: url(/img/banner5.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 55%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 0 4rem;
}

.home .banner5 h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--antiquewhite);
  width: 36vw;
}

.home .banner5 h3 {
  font-size: 1.5rem;
  color: var(--antiquewhite);
  width: 36vw;
  font-weight: 300;
}

.home .banner5 h4 {
  font-size: 1.8rem;
  color: var(--antiquewhite);
  width: 36vw;
  font-weight: 500;
}

/* banner 5 style ends */

/* banner 6 style starts */
.banner6 {
  height: 30vh;
  background-color: var(--alloyOrange);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner6 h2 {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--richBlack);
}

/* banner 6 style ends */

/* banner 7 style starts */

.banner7 {
  background-color: var(--gamboge);
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .banner7 .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
}

.home .banner7 .card-wrapper .card {
  background-color: var(--antiquewhite);
  height: 70vh;
  width: 60vh;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.home .banner7 .card-wrapper .card:hover {
  border: var(--border);
  box-shadow: 0rem 1rem var(--rufous);
  cursor: pointer;
  background-color: var(--antiquewhite);
}

.home .banner7 .card-wrapper .card:active {
  transform: translateY(1rem);
  box-shadow: none;
  background-color: var(--antiquewhite);
}

.home .banner7 .card-wrapper .card img {
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 0.5rem;
}

.home .banner7 .card-wrapper .card h4 {
  color: var(--rufous);
  font-size: 0.8rem;
  font-weight: 500;
}

.home .banner7 .card-wrapper .card h2 {
  font-size: 2rem;
  font-weight: 700;
}
.home .banner7 .card-wrapper .card h3 {
  font-size: 1rem;
  font-weight: 500;
}

.home .banner7 .card-wrapper .card p {
  font-size: 1rem;
  font-weight: 300;
}

.home .banner7 .card-wrapper .card a {
  font-weight: 500;
  text-decoration: underline;
  color: var(--rubyRed);
}

.home .banner7 .card-wrapper .card a:hover {
  font-weight: 700;
  transform: scale(105%);
  text-decoration: none;
  color: var(--blueSapphire);
}

/* banner 7 style ends */

/* masterclass banner 1 starts */

.home .masterclass2 {
  height: 100vh;
  background-color: var(--rubyRed);
  background-image: url(/img/masterclass2.jpg);
  background-repeat: no-repeat;
  background-size: 43%;
  background-attachment: fixed;
  background-position: left top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 4rem;
  padding-right: 12rem;
  gap: 1.2rem;
}

.home .masterclass2 h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--antiquewhite);
  width: 40vw;
}

.home .masterclass2 h3 {
  font-size: 1.5rem;
  color: var(--antiquewhite);
  width: 40vw;
  font-weight: 300;
}

.home .masterclass2 h4 {
  font-size: 1.8rem;
  color: var(--antiquewhite);
  width: 40vw;
  font-weight: 500;
}

.home .masterclass2 h4 span {
  background-color: var(--rufous);
  padding: 1rem;
  position: relative;
  top: 1rem;
}

.home .masterclass2 p {
  color: var(--antiquewhite);
  font-weight: 500;
  font-size: 1.3rem;
}

/* masterclass banner 1 ends */

/* testimonials banner starts */

.review {
  background-color: var(--middleBlueGreen);
  height: 80vh;
  padding: 1rem;
}

.review h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--blueSapphire);
  text-align: center;
  padding: 1rem;
}

.review .review-slider {
  padding: 1rem;
  height: 80%;
  width: 80%;
}

.review .review-slider .box {
  background: var(--antiquewhite);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.5rem;
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: 0.2s linear;
}

.review .review-slider .box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.review .review-slider .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.review .review-slider .box p {
  padding: 1rem 0;
  line-height: 1.8;
  color: var(--richBlack);
  font-size: 1rem;
}

.review .review-slider .box h3 {
  padding-bottom: 0.5rem;
  color: var(--light-color);
  font-size: 1.2rem;
}

.review .review-slider .box .stars i {
  color: var(--alloyOrange);
  font-size: 1rem;
}

/* testimonials banner starts */

/* brandNumbers banner starts */

.brandNumbers {
  background-color: var(--viridianGreen);
  height: 60vh;
}

/* brandNumbers banner starts */

/* customerBrands banner starts */

.customerBrands {
  background-color: var(--blueSapphire);
  height: 40vh;
}

/* customerBrands banner starts */

/* faqs banner starts */

.faqs {
  background-color: var(--rubyRed);
  height: 100vh;
}

/* faqs banner starts */

/* subscribeNews banner starts */

.subscribeNews {
  background-color: var(--rufous);
  height: 20vh;
}
/* subscribeNews banner starts */

/* main section styles end  */

/* footer section styles starts */
.footer {
  background-color: var(--gamboge);
  height: 50vh;
}
/* footer section styles ends */

/* --------------------------------- */

/* media queries for responsive website starts*/

@media (max-width: 425px) {
  html {
    font-size: 94%;
  }

  #menu-btn {
    display: inline-block;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
    width: 100vw;
    position: sticky;
  }

  .header .search-form {
    width: 90%;
  }

  .header .search-form.active {
    right: 1.5rem;
  }

  .header .shopping-cart {
    width: 90%;
  }

  .header .shopping-cart.active {
    right: 1.5rem;
  }

  .header .login-form {
    width: 90%;
  }

  .header .login-form.active {
    right: 1.5rem;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 90%;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    background-color: var(--antiquewhite);
  }

  .header .navbar.active {
    right: 1.5rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2.5rem;
    margin: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
  }

  .header .shopping-cart .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .home .hero {
    /* background-image: url(/img/heroMobile.jpg); */
    background-repeat: no-repeat;
    background-position: -140% 32%;
    background-size: 80%;
    background-color: var(--gamboge);
  }

  .home .hero .heroText {
    position: relative;
    right: 3rem;
    top: -10rem;
  }

  .home .hero h1 {
    font-size: 2.2rem;
  }

  .home .hero h4 {
    font-size: 1rem;
    width: 100%;
  }

  .home .hero p {
    font-size: 1.2rem;
    width: 90%;
  }

  .home .hero .heroBtns {
    position: relative;
    right: 3rem;
    top: -10rem;
  }

  .home .hero .heroBtns .tertiaryBtn {
    display: none;
  }

  /* banner 1  styles starts */
  .home .banner1 {
    background-size: 120%;
    background-position: bottom;
    background-repeat: repeat-y;
    padding: 0 2rem;
    text-align: center;
  }

  .home .banner1 h4 {
    background-color: var(--rubyRed);
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    border-radius: 0.5rem;
  }
  .home .banner1 h2 {
    background-color: var(--rubyRed);
    padding: 1rem;
    font-size: 2.2rem;
    border-radius: 0.5rem;
  }
  .home .banner1 h3 {
    background-color: var(--rubyRed);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
  }

  .home .banner1 h2 span {
    font-size: 3rem;
  }

  .home .banner1 a {
    margin: 1rem auto;
  }

  /* banner 1 styles ends */

  /* banner 2 style starts */
  .home .banner2 {
    background-repeat: repeat-y;
    background-size: contain;
    background-position: bottom;
    padding: 0 2rem;
    text-align: center;
  }
  .home .banner2 h4 {
    background-color: var(--blueSapphire);
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
  }
  .home .banner2 h2 {
    background-color: var(--blueSapphire);
    padding: 1rem;
    font-size: 2.2rem;
    border-radius: 0.5rem;
  }
  .home .banner2 h3 {
    background-color: var(--blueSapphire);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
  }

  .home .banner2 a {
    margin: 1rem auto;
  }
  /* banner 2 style ends */
  /* banner 3 style starts */
  .home .banner3 h2 {
    font-size: 2.4rem;
    width: 95%;
    padding: 1rem;
    text-align: center;
  }
  /* banner 3 style ends */

  /* banner 4 style starts */

  .home .banner4 {
    height: max-content;
    padding: 5rem;
    padding-top: 0;
  }

  .home .banner4 .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
  .home .banner4 .card-wrapper .card {
    width: 90vw;
  }
  .home .banner4 .card-wrapper .card h3 {
    display: none;
  }
  .home .banner4 .card-wrapper .card h4 {
    display: none;
  }
}

/* media queries for responsive website ends*/
